<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.tablayout"
        version="1.0">

  <name>CordovaTabLayoutPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaTabLayoutPlugin">
        <param name="android-package" value="com.ashera.tablayout.CordovaTabLayoutPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="src/com/ashera/tablayout/CordovaTabLayoutPlugin.java" target-dir="src/com/ashera/tablayout"/>
     <source-file src="src/com/ashera/tablayout/TabItemImpl.java" target-dir="src/com/ashera/tablayout"/>
     <source-file src="src/com/ashera/tablayout/TabLayoutImpl.java" target-dir="src/com/ashera/tablayout"/>
     <source-file src="src/com/ashera/tablayout/TabLayoutPlugin.java" target-dir="src/com/ashera/tablayout"/>
     <!-- src end -->
     <!-- start res -->
     <source-file src="res/layout/design_layout_tab_icon_new.xml" target-dir="res/layout"/>
     <source-file src="res/layout/design_layout_tab_text_new.xml" target-dir="res/layout"/>
     <source-file src="res/layout/design_sliding_tab_indicator.xml" target-dir="res/layout"/>
     <source-file src="res/layout/design_tab_view.xml" target-dir="res/layout"/>
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="tsc/src/android/widget/TabItemImpl.ts" target-dir="tsc/src/android/widget"/>
     <source-file src="tsc/src/android/widget/TabLayoutImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>


</plugin>